<div class="container p-4">
    <div class="jumbotron">
        <h1 class="display-4">add new post</h1>
    </div>
    <form [formGroup]="addForm" (submit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" formControlName="title" placeholder="title" required [ngClass]="{'is-invalid' : submiited && f.title.errors}">
            <div *ngIf="submiited && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">
                    this is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <textarea rows="6" class="form-control" name="description" formControlName="description" id="description" placeholder="description" required [ngClass]="{'is-invalid' : submiited && f.description.errors}"></textarea>
            <div *ngIf="submiited && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">
                    this is required
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">add new post</button>
    </form>
</div>